<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<body>
<h1>Owners:</h1>
<table class="table table-striped">
    <tr>
    <td style="width: 150px;">ID:</td>
    <td style="width: 150px;">First name:</td>
    <td style="width: 150px;">Last name:</td>
    </tr>
    <tr th:each="owner : ${owners}">
        <td th:text="${owner?.id}"></td>
        <td th:text="${owner?.firstName}"></td>
        <td th:text="${owner?.lastName}"></td>
    </tr>
</table>
</body>
</html>