
<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<body>

<h2 th:text="#{welcome}">Welcome</h2>
<div class="row">
    <div class="col-md-12">
        <img class="img-responsive" src="../images/pets.png" th:src="@{/resources/images/pets.png}"/>
    </div>
</div>

</body>

</html>