<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Vets</h1>
<table class="table table-striped">
    <tr>
        <td>ID:</td>
        <td>Last name:</td>
        <td>First name:</td>
    </tr>
    <tr th:each="vet :${vets}">
        <td th:text="${vet.id}"></td>
        <td th:text="${vet.lastName}"></td>
        <td th:text="${vet.firstName}"></td>
    </tr>
</table>
</body>
</html>